aiofiles==0.8.0
aiohttp==3.8.1
aiomysql==0.1.1
aiosignal==1.2.0
anyio==3.6.1
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
choicelib==0.1.5
frozenlist==1.3.0
idna==3.3
multidict==6.0.2
Pillow==9.1.1
pydantic==1.9.0
PyMySQL==1.0.2
python-dotenv==0.20.0
requests==2.27.1
sniffio==1.2.0
typing_extensions==4.2.0
urllib3==1.26.9
vbml==1.1.post1
vkbottle==4.3.2
vkbottle-types==5.131.146.2.post1
watchgod==0.8.2
yarl==1.7.2
